NET icclk  				LOC = L19;	# Taktsignal Taktgenerator

NET "icClk" TNM_NET        = "CLOCK_MAIN";
TIMEGRP  "CLOCK_MAIN_GRP"  = "CLOCK_MAIN";
TIMESPEC "TS_CLOCK_MAIN"   = PERIOD "CLOCK_MAIN_GRP" 5 ns HIGH 50 %;

NET  icReset_n             LOC="E9"; 

NET odRS232             LOC = "AG20" | IOSTANDARD = LVTTL ;
NET idRS232             LOC = "AG15" | IOSTANDARD = LVTTL ;